@using System.Data;
@model DataTable

@{
    Layout = null;
}

<div class="creditly-card-form agileinfo_form">
    <section class="creditly-wrapper wthree, w3_agileits_wrapper">
        <div class="credit-card-wrapper">
            <div class="first-row form-group">
                @*<div class="row">*@
                <div class="band">
                    @foreach (DataRow row in Model.Rows)
                    {
                        <div class="item-5">
                            <a href="/Tareas/TareaSeleccionada?Codigo=@row["Codigo"]" class="card">
                                @{
                                    if (row["Imagen"].ToString() != "")
                                    {
                                        string Foto = "data:image / jpeg; base64," + Convert.ToBase64String((byte[])row["Imagen"]);
                                        <div class="thumb" style="background-image: url('@Foto')"></div>
                                    }
                                    else
                                    {
                                        <div class="thumb" style="background-image: url('../../Recursos/FontEnd/images/movie-poster.jpg');background-size:100%;"></div>
                                    }
                                }
                                <article>
                                    <h1>@row["Titulo"]</h1>
                                    <p>@row["Empleador"]</p>
                                    <p>@row["Clasificacion"]</p>
                                </article>
                            </a>
                        </div>

                    }
                </div>
                @*</div>*@                
            </div>
        </div>
    </section>
</div>
<!-- credit-card -->
<script type="text/javascript" src="~/Recursos/FontEnd/js/creditly.js"></script>
<link rel="stylesheet" href="~/Recursos/FontEnd/css/creditly.css" type="text/css" media="all" />

<script type="text/javascript">
			$(function() {
			  var creditly = Creditly.initialize(
				  '.creditly-wrapper .expiration-month-and-year',
				  '.creditly-wrapper .credit-card-number',
				  '.creditly-wrapper .security-code',
				  '.creditly-wrapper .card-type');

			  $(".creditly-card-form .submit").click(function(e) {
				e.preventDefault();
				var output = creditly.validate();
				if (output) {
				  // Your validated credit card output
				  console.log(output);
				}
			  });
			});
</script>
<!-- //credit-card -->
